* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quantico";
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.header {
    display: flex;
    justify-content: space-around;
    background-color: #272c3d;
    padding: 20px 0;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ul {
    display: flex;
    gap: 60px;
    align-items: center;
    padding-top: 20px;
    list-style: none;
    font-size: 20px;
    font-weight: 700;
}

.li a {
    padding-left: 20px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.header__link {
    color: #ff9c28;
}

.form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    width: 250px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #404864;
    color: white;
}

.input {
    background-color: transparent;
    border: none;
} 

.search-btn {
    background-color: transparent;
    border: none;
    
}

.search-btn img {
    width: 20px;
    height: 20px;
}
.header__link:hover{
    color: #ff9c28;
    transition: 0.5s;
    
}
.id{
    border-radius: 3px;
    background-color: black;
    color: white;
    width: 190px;
    height: 40px;
    text-align: center;
    font-size: 15px;
    display: flex;
    border: none;
    border-radius: 7px;
    text-align: start;
    padding-left: 10px;
}
.src{
    display: flex;
    padding-right: 44px;
    gap: 40px;
    border: none;
}

.bg{
    color: white;
    width: 100%;
    height: 100vh;
    
    background-image: url("./images/image copy 7.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.box h3{
    color: white;
    
} 
.box{
    display: flex;
    gap: 100px;
    justify-content: center;
    
}
.box img{
    gap: 300px;
    display: flex;
    width: 470px;
    height: 600px;
    object-fit: cover;
    justify-content: center;
    
}
.bg-black{
    background-color: black;
    width: 100%;
}


.h1{
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 32px;
    line-height: 45.76px;
    
}
.chempionTitle{
    text-align: center;
}

.chempion{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 100px;
}

.chempion  p{
    width: 323px;
}
body{
    background-color: black;
    color: white    ;
}
.chempion1 p{
    width: 323px;
}
.chempion1{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 100px;
    
}
.chempion1 img{
    width: 400px;
}
.footer{
    
    background: #272c3d;
}
.header__1{
    
    display: flex;
    font-size: 90px;
    align-items: center;  
    
}
.header__1:hover{
    color: #ff9c28;
    transition: 0.5s;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
}
.ftr_logo{
    padding-top: 20px;
}